.header {
    text-align: center;
    margin: 20px 0;
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    color: #3f51b5; /* kolor Material Indigo */
    font-family: 'Roboto', sans-serif;
  }
  